{% extends 'templates/default.twig' %}
{% block title %}HOME{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% if posts is not empty%}
            {% for post in posts %}
            <div class="post-preview">
                <a href="{{ path_for('post.detail', {'id': post.id, 'name': post.seo_url}) }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.excerpt }}
                    </h3>
                </a>
                <p class="post-meta">
                    Posted by <a href="#0">{{ post.getUserName }}</a> on {{ post.getCategoryName }}
                </p>
            </div>
            <hr>
            {% endfor %}
            <nav>
                <ul class="pager">
                    <li class="next{% if AllPost|length <= 5 %} disabled{% endif %}">
                        <a {% if AllPost|length > 5 %}href="#0"{% endif %}>
                            Older Posts &rarr;
                        </a>
                    </li>
                </ul>
            </nav>
            {% else %}
            <img src="img/error/Nothing_to_do_here_by_rober_raik-d4cxltj.png" class="img-responsive img-center">
            <h2 class="post-title">
                Nothing to do here...
            </h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
