{% extends 'templates/default.twig' %}

{% block title %}
	Recover Password
{% endblock %}

{% block content %}
	<p>Enter your email address to start your password recovery. </p>
	<form action="{{ path_for('password_recover.post') }}" method="post" autocomplete="off">
		<div>
				<label for="email">Email</label>
				<input type="text" name="email" id="email" {% if posted.email %} value="{{ posted.email }}" {% endif %}>
				{% if errors.first('email') %}{{ errors.first('email') }}{% endif %}
		</div>
		<div>
			<input type="submit" value="Recover password">
		</div>
		<input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
	</form>
{% endblock %}